	
	<script type="text/javascript" src="/javascripts/jquery-1.11.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/potral.js"></script>
	<script type="text/javascript" src="/scripts/template/user_template.js"></script>
	<script type="text/javascript" src="/scripts/template/score_template.js"></script>
	<script type="text/javascript" src="/scripts/template/jdgue_template.js"></script>
	<script type="text/javascript" src="/scripts/user_contral.js"></script>
	<script type="text/javascript" src="/scripts/score_contral.js"></script>
	<script type="text/javascript" src="/scripts/jdgue_contral.js"></script>
	<!--<script type="text/javascript" src="/scripts/form2Grid.js"></script>-->	
	<script type="text/javascript" src="/javascripts/mains.js"></script>	
	<script type="text/javascript" src="/scripts/jquery.validate.js"></script>
	<script type="text/javascript" src="/scripts/messages_cn.js"></script>
	<script type="text/javascript" src="/scripts/jquery-ui.js"></script>
	
	<script type="text/javascript" src='/extjs34/adapter/ext/ext-base.js'></script>
	<script type="text/javascript" src='/extjs34/ext-all.js'></script>
  </body>
</html>