<!DOCTYPE HTML>
<html>
  <head>
	<!--网页三要素-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= title %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='Keywords' content='node、js' />
	<meta name='description' content='' />
	<meta name="viewport" content='width=device-width,initial-scale=1.0' />
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
	<link rel='stylesheet' href='/extjs34/resources/css/ext-all.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />	
	<link rel='stylesheet' href='/styles/jquery-ui.css' />
	<link rel='stylesheet' href='/stylesheets/mains.css' />
	<link rel='stylesheet' href='/styles/userform.css' />
	<link rel='stylesheet' href='/styles/scoreform.css' />
	<link rel='stylesheet' href='/styles/jdgueform.css' />
  </head>
  <body>
