
<table id="scoregridtable" class="table table-bordered table-striped table-condensed table-hover">
	<thead id="scoregridthead">
	<tr>
		<th class="score_ids" style="display:none;">score_id</th>
		<th class="score_ckbox" style="display:none;">选项</th>
		<th class="col-xs-1">序 &nbsp; 号</th>
		<th class="col-xs-2">学 &nbsp; 号</th>
		<th class="score_names">姓 &nbsp; 名</th>
		<th class="col-xs-1">性 &nbsp; 别</th>
		<th class="score_classes">年 &nbsp; 级</th>
		<th class="col-xs-2">成 &nbsp; 绩</th>
		<th class="col-xs-2">操 &nbsp; 作</th>
	</tr>
	</thead>
	<tbody id="scoregridtbody">
	</tbody>
	
</table>
