<table id="usergridtable" class="table table-bordered table-striped table-condensed table-hover">
	<thead id="usergridthead">
	<tr>
		<th class="user_ids" style="display:none;">user_id</th>
		<th class="col-xs-1" style="display:none;">选 &nbsp; 项</th>
		<th class="col-xs-1">序 &nbsp; 号</th>
		<th class="col-xs-2">学 &nbsp; 号</th>
		<th class="user_names">姓 &nbsp; 名</th>
		<th class="col-xs-1">性 &nbsp; 别</th>
		<th class="user_classes">年 &nbsp; 级</th>
		<th class="col-xs-3">操 &nbsp; 作</th>
	</tr>
	</thead>
	<tbody id="usergridtbody">
	</tbody>
</table>
<div id="dialog_inf"></div>


