
<form method="post" action="/" id="scoreform">
	<label for="scorestem">学 期:</label>
	<input type="text" id="scorestem" required="required" name="scorestem" placeholder="请输入单号" />
	<label for="scoreclass">年 级:</label>
	<input type="text" id="scoreclass" required="required" name="scoreclass" placeholder="请输入年级" />
	<div id="formbtns">
		<input type="reset" id="reset" value="重  置" />
		<input type="submit" id="submit" value="保  存" />
		<input type="button" id="createscore" value="查  看" />
		<input type="button" id="editscore" value="创  建" />
	</div>
</form>
