body {
	background-color: #cde7be;
	color: #333;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
	font-size: 1.5em;
	margin: 0;
}
a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset,
form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, 
small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.navbar {
	min-height: 30px;
	margin-top: 0px;
}
.navbar-brand {
	height: 30px;
	padding-top: 10px;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav>li>a:hover {
	box-shadow: 0 1px 5px white;
}
#mainbody {
	margin-top: 50px;
}
#sidebar {
	margin-left: -15px;
	font-size: 1em;
	margin-right: -15px;
}
#sidebar .tab {
	border-radius: 3px 3px 0 0;
	padding: 5px 5px;
	color: grey;
	font-size: 1.2em;
	background-color: #daf3d6;		
}
#sidebar a {
	list-style: none;
	display: block;
	padding: 5px 5px;
	border-top: 1px solid #daf3d6;
	text-decoration: none;
	color: #525252;
}
.classInf {
	border: 4px solid #daedc5;
}
#sidebar a:hover {
	background-color: #c1d0c1;
	color: #fff;	
}
#editform {
	margin: 20px 15px -15px 0;
	width: 60px;
	letter-spacing: 10px;
	font-size: 0.8em;
	color: #525252;
}
#middlebar .btn {
	
}
#editform:hover {
	background-color: #89c783; 
}
#middlebar .navlead {
	padding: 10px 0;
	text-align: center;
	background: linear-gradient(#9bb0a0,#a8e193);		
	color: red;
}
#middlebar .tiptext {
	text-align: center;
	color: grey;
}		
#navform {
	visibility: hidden;
	margin-top: 20px;
	padding: 30px 0 30px;
	border: 4px solid #daf3d6;
}
#navform label {
	line-height: 30px;
	font-size: 1em;
	color: #525252;
}
.form-horizontal div,label {
	margin-top: 5px;
}
#subform button {
	padding: 5px 10px;
}
#subform button:hover {
	background-color: #98cf7a;
}
#navform option {
	padding-top: 10px;
	height: 30px;
	color: red;
}
#showUserInf {
	display: none;
}
#stdtable td {
	padding: 10px 0;
	color:  #7e7969;
}
#stdtable tr {
	border-bottom: 1px dashed #f0f0f0;
}
